<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scalable=0"
    />
    <link rel="stylesheet" href="css/weui.css" />
    <link rel="stylesheet" href="css/weuix.css" />

    <script src="js/lib/zepto.min.js"></script>
    <script src="js/lib/zepto.weui.js"></script>
    <script>
      document.write(
        '<script type="text/javascript" src="js/common/util.js?t=' +
          new Date().getTime() +
          '"><\/script>'
      );
      document.write(
        '<script type="text/javascript" src="js/common/base.js?t=' +
          new Date().getTime() +
          '"><\/script>'
      );
      document.write(
        '<script type="text/javascript" src="js/common/auth.js?t=' +
          new Date().getTime() +
          '"><\/script>'
      );
    </script>
    <title>我的问题</title>
  </head>

  <body ontouchstart>
    <div class="page-hd">
      <h1 class="page-hd-title">
        反馈记录查看
      </h1>
    </div>

    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__bd" id="rank-list"></div>
      <script id="tpl" type="text/html">
        <% for(var i in data) {   %>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">提交时间: <%=data[i].fsubmitdatetime%></h4>
                <p class="weui-media-box__desc">反馈的内容: <%=data[i].fcontent%></p>
                <p class="weui-media-box__desc">得到的回复: <%=data[i].fprocess%></p>
            </div>
        <% } %>
      </script>

      <div class="weui-panel__ft">
        <a
          href="javascript:void(0);"
          class="weui-cell weui-cell_access weui-cell_link"
        >
          <div class="weui-cell__bd" id="getmore">
            查看更多<i id="loading" class="weui-loading"></i>
          </div>
        </a>
      </div>
    </div>

    <script>
      $("#loading").hide();
      var pagesize = 4; //每页数据条数
      var token = getCookie("app_token");
      function ajaxpage(page) {
        var questionData = { page: page, pagesize: pagesize };
        $.ajax({
          type: "post",
          url: APPHOST + "access/user/question/list",
          headers: {
            Authorization: token,
          },
          data: JSON.stringify(questionData),
          processData: false,
          contentType: "application/json",
          dataType: "json",
          timeout: 10000,
          beforeSend: function (xhr) {
            $("#loading").show();
          },
          success: function (rs) {
            $("#loading").hide();
            console.info(rs.data);
            if (rs.data.length == 0) {
              if (page == 0) {
                $("#rank-list").html("暂无数据");
              }
              $("#getmore").html("没有更多数据了");
              return false;
            } else {
              $("#rank-list").append(
                tpl(document.getElementById("tpl").innerHTML, rs)
              );
            }
          },
          error: function (xhr, errorType, error) {
            alertMsg(
              "失败：" + errorType + "," + error + "," + JSON.stringify(xhr)
            );
          },
        });
      }

      function getMaxPage() {
        var token = getCookie("app_token");
        var maxpage = 0;
        $.ajax({
          type: "get",
          url: APPHOST + "access/user/question/total",
          headers: {
            Authorization: token,
          },
          async: false,
          dataType: "json",
          timeout: 10000,
          error: function (xhr, errorType, error) {
            alertMsg(
              "失败：" + errorType + "," + error + "," + JSON.stringify(xhr)
            );
          },
          success: function (rs) {
            if (rs.code == 200) {
              var max = rs.data;
              maxpage = Math.ceil(max / pagesize);
            }
          },
        });
        console.info(maxpage);
        return maxpage;
      }

      $(function () {
        var page = 1;
        var maxpage = getMaxPage();
        $("#getmore").on("click", function () {
          if (page <= maxpage) {
            ajaxpage(page);
            page++;
          }
        });
        ajaxpage(0);
      });
    </script>
  </body>
</html>
